<div class="container mt-4">
  <div class="list-group">
    <div class="list-group-item list-group-item-dark">
      <div class="row text-center fw-bold">
        <div class="col-1">{{ id }}</div>
        <div class="col-3">{{ name }}</div>
        <div class="col-3">{{ coluna1 }}</div>
        <div class="col-2">{{ coluna2 }}</div>
        <div class="col-1">Editar</div>
        <div class="col-1">Excluir</div>
      </div>
    </div>

    <div class="list-group">
      <div class="list-group-item" *ngFor="let pessoa of pessoas; let i = index" style="border-bottom: 1px solid #ddd">
        <div class="row align-items-center text-center">
          <div class="col-1">{{ pessoa.id }}</div>
          <div class="col-3">{{ pessoa.name }}</div>
          <div class="col-3">{{ pessoa.enderecoCompleto }}</div>
          <div class="col-2">
            <button type="button" class="btn btn-info btn-sm">
              <a [routerLink]="['/listaContatos']">📞</a>
            </button>
          </div>
          <div class="col-1 d-flex justify-content-center">
            <div class="noCenter">
              <app-modal
                [nameButton]="'✏️'"
                [nameTitle]="'Editar Contato'"
                [nameInput]="'Nome Completo'"
                [cep]="'CEP'"
                [address]="'Endereço'"
                [city]="'Cidade'"
                [uf]="'UF'"
                [pessoa]="pessoa">
              </app-modal>
            </div>
          </div>
          <div class="col-1 d-flex justify-content-center">
            <button type="button" class="btn btn-danger btn-sm">🗑️</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
