<form (ngSubmit)="createPessoas()">
  <div class="form-group mb-3">
    <label for="inputName">Nome</label>
    <input type="text" class="form-control" [(ngModel)]="pessoa.nome" name="nome" id="inputName" placeholder="Nome Completo">
  </div>

  <div class="form-group mb-3">
    <label for="inputCep">CEP</label>
    <input type="text" class="form-control" [(ngModel)]="pessoa.cep" name="cep" id="inputCep" placeholder="00000-000">
  </div>

  <div class="form-group mb-3">
    <label for="inputEndereco">Endereço</label>
    <input type="text" class="form-control" [(ngModel)]="pessoa.endereco" name="endereco" id="inputEndereco" placeholder="Rua A, 1000">
  </div>

  <div class="form-group mb-3">
    <label for="inputCidade">Cidade</label>
    <input type="text" class="form-control" [(ngModel)]="pessoa.cidade" name="cidade" id="inputCidade" placeholder="São Paulo">
  </div>

  <div class="form-group mb-3">
    <label for="inputUF">UF</label>
    <input type="text" class="form-control" [(ngModel)]="pessoa.uf" name="uf" id="inputUF" placeholder="SP">
  </div>

  <div class="d-flex gap-2 mt-3">
    <button type="submit" class="btn btn-primary">Cadastrar</button>
    <button type="button" [routerLink]="['/home']" class="btn btn-danger">Cancelar</button>
  </div>
</form>
